.row {
    display: block;
    width: 1180px;
    max-width: 100%;
    margin: 0 auto;
}

.row.fit, .row .row {
    width: auto;
    max-width: none;
    min-width: 0;
    margin: 0 -10px;
}
.row:before, .row:after {
    content: "";
    display: table;
}

.row:after {
    clear: both;
}

.column {
    display: block;
    float: left;
    min-height: 1px; 
    padding: 0 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.size1of1 {
  width: 100%;
}

.size1of4 {
  width: 25%;
}

.size3of4 {
  width: 75%;
}

.size1of3 {
  width: 33.3333%;    
}

.size2of3 {
  width: 66.6666%;    
}





















